<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ClaseBase.Properties.Settings.Conexion" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Usuario\Documents\GitHub\TP_LPOO\BD\agencia.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>